<div class="mt-4">
	<h3>Khóa học của tôi</h3>
	<table class="table table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">tên</th>
				<th scope="col">trình độ</th>
				<th scope="col">Thời gian đào tạo</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
				<tr>
					<td scope="row">{{sum @index 1}}</td>
					<td>{{this.name}}</td>
					<td>{{this.level}}</td>
					<td>{{this.createAt}}</td>
					<td>
						<a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
						<a href="" class="btn btn-link">Xóa</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>